.features {
    top: -425px;
    left: 0;
    position: relative;
    min-height: 1308px;
    margin-bottom: -425px;
    @include xsm {
        top: -525px;
        margin-bottom: -600px;
        padding-bottom: 50px;
    }
}
.feaures__background {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: url(../img/shape_1_copy_814.png) no-repeat 0 0/cover;
    opacity: 0.05;
    @include xsm {
        background: #4194fc;
    }
}
.features .container {
    padding-top: 585px;
}

.features__description {
    margin-top: -12px;
    @include xsm {
        padding-top: 16px;
    }
}
.features__row {
    display: flex;
    justify-content: space-around;
    @include xsm {
        flex-wrap: wrap;
    }
}
.features__item {
    margin-top: 76px;
    .item__image {
        width: 160px;
        height: 160px;
        background-color: #eff8ff;
        border-radius: 50%;
        margin: 0 auto;
        img {
            position: relative;
            top: 25%;
            left: 25%;
        }
    }
}
