.header {
    padding: 40px 0 0 0;
    background: url(../img/rectangle_2_897.png) no-repeat 90% 80%, url(../img/shape_1_879.png) no-repeat 0 0/100% 100%;
    min-height: 970px;
    @include lg {
        background: url(../img/shape_1_879.png) no-repeat 0 0/100% 100%;
    }
    @include sm {
        background: linear-gradient(90.0deg, #4194fc 0%, #0bded3 100%);
        min-height: 0;
    }
    
}

.header__row {
    display: flex;
    flex-direction: column;
}
.header__head {
    display: flex;
    @include sm {
        flex-direction: column;
        align-items: flex-end;
    }
}
.header__logo {
    flex: 1 1 auto;    
    @include sm {
        align-self: flex-start;
    }
}
.header__menu {
    padding-top: 4px;
    a {
        color: #07222f;
    }
}

.sign {
    margin-left: 16px;
}
.sign a {
    position: relative;
    width: 122px;
    height: 50px;
    display: inline-block;
    border-radius: 5px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    @include sm {
        position: absolute;
        margin: 0 2px 0 0;
        right: 7px;
        top: 77px;
        width: 70px;
        height: 50px;
        -webkit-text-fill-color: #fff;
    }
}
.sign_in {
    margin-right: 20px;
    border: 2px solid #ebebec;
    background-image: linear-gradient(90.0deg, #4194fc 0%, #0bded3 100%);
    letter-spacing: 0.01em;
    color: #00c853;
    mix-blend-mode: screen;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sign_up {
    top: -2px;
    background-color: #00c853;
    background-image: linear-gradient(90.0deg, #4194fc 0%, #0bded3 100%);
    letter-spacing: 0.01em;
    color: #ffffff;
    @include sm {
        display: none !important;
    }
}
.header__body {
    max-width: 500px;
    padding-top: 200px;
    color: #ffffff;
    @include sm {
        padding-top: 24px;
    }
}
.header__title {
    font-size: 50px;
    line-height: 66px;
    font-weight: 800;
    letter-spacing: 0.02em;
    @include xsm {
        font-size: 40px;
        line-height: 45px;
    }
    
}
.header__text {
    margin-top: 26px;
    line-height: 25px;
    letter-spacing: 0.01em;
}
.header__button {
    display: block;
    margin-top: 36px;
    width: 140px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    line-height: 40px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.01em;
    color: #36a2f4;
    margin-bottom: 40px;
    @include sm {
        border: 1px solid #36a2f4;
    }
}

.menu__icon {
    display: none;
}
.menu__icon span {
    font-size: 0px;
}
body._lock {
    overflow: hidden;
}
.menu__link {
    white-space: nowrap;
}
@include sm {
    .menu__icon {
        display: block;
        z-index: 15;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        right: 20px;
        bottom: 40px;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::before {
        content: '';
        top: 0;
    }
    .menu__icon::after {
        content: '';
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active {
        position: absolute;
        left: 48%;
        top: 32px;
    }
    .menu__body {
        position: fixed;
        z-index: 10;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 80px 30px 80px 30px;
        background-color: #4195fcf6;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu__body._active {
        left: 0;
    }
    .header__menu {
        .menu__list {
            flex-direction: column;
            align-items: center;
        }
        .menu__list > li {
            padding-bottom: 64px;
        }
        .menu__list > li:last-child {
            padding-bottom: 0;
        }
        .menu__link a {
            font-size: 40px;
            color: #fff;
            margin: 0;
        }
    }
}